<server>

    <featureManager>
        <feature>jaxrs-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

    <application name="blueair-rest" context-root="blueair-rest" location="${appLocation}" type="war"/>

</server>
